*.pyc
datasets/
*.pb
*.gz
.idea/
*.hdf5
*.log
client/dicebox_test_data/
venv/

#what have i done..
# sym links
primordialpool/datasets
primordialpool/lib
server/lib
lonestar/datasets
lonestar/lib
category_map.json
