*.pyc
datasets/
*.pb
*.gz
.idea/
*.hdf5
*.log
client/dicebox_test_data/
venv/

#what have i done..
# sym links
primordialpool/datasets
primordialpool/lib
server/lib
lonestar/datasets
lonestar/lib
category_map.json

projects/mnist/lib
projects/mnist/logs

projects/mnist/mnist_test_28x28
projects/mnist/mnist_train_28x28

projects/dicebox/lib

vendored-libraries/**
